body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card {
  padding: 2em;
}

ul, ol { padding:0; margin: 0; list-style-type: none; }

li {
  list-style-type: none;
}

header {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app-desc {
  max-width: 650px;
}

.chat-frame {
  display: flex;
  flex: 1;
  margin-top: 40px;
  width: 100%;
  gap: 20px;
  height: 100vh;
  overflow-y: auto;
}

.chat-users {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-users ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat-user-message {
  background-color: rgb(99, 99, 99);
}

.chat-messages {
  border: #61dafbaa;
  border-width: 1px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgb(89, 89, 89);
  border-color: rgb(89, 89, 89);
  border-radius: 3px;
  border-style: solid;
  padding: 15px 15px 15px 15px;
  filter: drop-shadow(-2px 3px 0px rgb(80, 97, 184));
}

.chat-messages p {
  margin: 0px;
  padding-bottom: 20px;
}

.chat-messages li {
  gap: 10px
}

.chat-messages li p {
  font-size: 0.7rem;
  align-self: end;
  padding-bottom: 0px;
  min-width: 120px;
}

.chat-type {
  display: flex;
  gap: 5px;
  height: 50px;
  flex-shrink: 0;
  padding: 5px;
  background-color: rgb(89, 89, 89);
  border-radius: 3px;
  filter: drop-shadow(-2px 3px 0px rgb(80, 97, 184));
  border: 2px, solid, #747474;
}

.chat-type input {
  width: 90%
}

.chat-type button {
  background-color: rgb(40, 40, 40);
  padding: 0;
  width: 80px
}


.chat-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.chat-messages ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid rgb(106, 106, 106);
}

.chat-messages li {
  padding: 5px 10px 5px 5px;
  display: flex;
  justify-content: space-between;
}

.chat-messages ul li:nth-child(odd) {
  background-color: rgb(106, 106, 106);
}

.navigation {
  display: flex;
  gap: 10px;
}


svg {
  height: 10px
}

.chat-user:hover {
  list-style-type: none;
  list-style: none;
}

.chat-user {
  color: #646cff;
  display: flex;
  align-items: center;
}

.chat-user:nth-child(odd) {
  color: #5a61e3;
}

.chat-user li {
  margin-right: 10px;
}

.link {
  cursor: grab;
}



.signup, .login {
  display: flex;
  flex-direction: column;
  align-self: center;
	color:rgb(188, 188, 204);
  background-color: rgb(89, 89, 89);
  border-color: rgb(89, 89, 89);
  border-radius: 0.8rem;
  border-style: solid;
  padding: 0px 25px 25px 25px;
  width: fit-content;
  filter: drop-shadow(-2px 3px 0px rgb(80, 97, 184))
}

.signup form, .login form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
}

.signup input, .login input  {
  height: 27px;
  width: 220px;
  padding-left: 5px;
}

.signup label, .login label {
  display: flex;
  gap: 5px;
  font-size: 14px;
  padding-top: 5px;
  letter-spacing: 0.7px;
}

.signup button, .login button {
  width: 100px;
  padding: 0.5em 0.8em;
  background-color: rgb(42, 42, 42);
  font-size: 15px;
  margin: auto;
  margin-top: 20px;
}